html, body{
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden; 
  background-color: #1a1a1a; 
  font-family: 'Poppins', sans-serif;
}

canvas {
  display: block;
}

#topbar {
  box-sizing: border-box;
  height: 53px;
  width: 100%;
  background-color: #2f3a3a;
  display: flex;
  align-items: center;
  position: relative;
}

#topbar button {
  background-color: #556666;
  border: none;
  color: #e0f2f2;
  font-size: 20px;
  width: 50px;
  height: 40px;
  border-radius: 6px;
  cursor: pointer;
  align-self: center;
}

#topbar button:hover {
  background-color: #6f8888;
}

canvas {
  display: block;
  margin: 0 auto;
  background-color: #1e2626;
}

#main {
  display: flex;
  flex-direction: column;
}

#roll {
  width: 100%;
  height: calc(100vh - 160px - 53px);
  display: block;
}

#keyboard {
  width: 100%;
  height: 160px;
  display: block;
}

.botaoCentro {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  gap: 8px;
}

.botaoArquivo {
  margin-left: 30px;
}

.dropdown {
  position: relative;
  display: inline-block;
  margin-left: auto; 
  margin-right: 15px;
}

.dropdown-btn {
  background-color: #556666;
  border: none;
  color: #e0f2f2;
  font-size: 14px !important;
  font-weight: bold;
  padding: 0 15px;
  height: 40px;
  border-radius: 6px;
  cursor: pointer;
  width: auto !important;
}

.dropdown-btn:hover { background-color: #6f8888; }

.dropdown-content {
  display: none; 
  position: absolute;
  right: 0;
  top: 45px;
  background-color: #2f3a3a;
  min-width: 220px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.5);
  border-radius: 8px;
  z-index: 100;
  padding: 15px;
  border: 1px solid #556666;
}

.dropdown-content.show {
  display: block; 
}

.config-item {
  max-width: 180px;
  margin-bottom: 15px;
  color: #e0f2f2;
  font-size: 14px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.config-item:last-child {
  margin-bottom: 0;
}

.config-item select, .config-item input {
  width: 100%;
  padding: 8px;
  border-radius: 4px;
  background: #1e2626;
  color: #fff;
  border: 1px solid #556666;
  cursor: pointer;
}

.song-marquee-container {
  display: flex;
  align-items: center;
  color: #00ffff;
  font-weight: bold;
  margin: 0 15px;
  font-size: 14px;
}

.marquee-window {
  width: 150px;
  overflow: hidden;
  white-space: nowrap;
}

/* O texto que vai deslizar */
#songNameDisplay {
  display: inline-block;
}

/* Adiciona essa animação caso precise */
.scrolling-text { 
  padding-left: 100%;
  animation: scroll-text 8s linear infinite;
}

@keyframes scroll-text {
  0% { transform: translateX(0); }
  100% { transform: translateX(-100%); }
}